################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/StudentManagement
/StudentManagement/bin/*
/StudentManagement/obj/*